aniso8601==8.0.0
asn1crypto==0.24.0
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
captcha==0.3
ccxt==1.19.89
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cobinhood-api==1.0
constantly==15.1.0
cryptography==2.5
cycler==0.10.0
dateparser==0.7.1
dominate==2.4.0
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.8
Flask-Ext==0.1
Flask-RESTful==0.3.7
Flask-WTF==0.14.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mysql-connector-python==8.0.17
numpy==1.17.4
Pillow==6.2.1
protobuf==3.9.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pydal==20190818.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.5
python-binance==0.7.1
python-dateutil==2.8.0
pytz==2019.1
regex==2019.4.14
requests==2.21.0
service-identity==18.1.0
six==1.12.0
Twisted==19.2.0
txaio==18.8.1
tzlocal==1.5.1
urllib3==1.24.1
visitor==0.1.3
websocket==0.2.1
websocket-client==0.56.0
websockets==7.0
Werkzeug==0.16.0
WTForms==2.2.1
yatl==1.0.7
zope.interface==4.6.0
